@use "sass:math";
@import './variables';
@mixin col($column) {

        width: math.div($column * 100%, 12);
        flex-basis: math.div($column * 100%, 12);
}

@mixin flex($direction:"center") {
    display: flex;
    @if $direction == "center"
    {
        justify-content: center;
        align-items: center;
    }
    @if $direction == "left"
    {
        justify-content: flex-start;
        align-items: center; 
    }
    @if $direction == "right"
    {
        justify-content: flex-end;
        align-items: center; 
    }
    @if $direction == "between"
    {
        justify-content: space-between;
        align-items: center; 
    }
  }
@mixin center_vertical {
    display: flex;
    align-items: center;
}   
@mixin center_horizontal {
    display: flex;
    justify-content: center;
}   
@mixin position_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
@mixin title {
    font-size: $large_title;
    text-align: center;
}
@mixin btn_dark {
    background-color: $color_dark;
    color: $color_white;
    font-size: $small_text;
    border-radius: 5px;
}
@mixin  product__card {
    position: relative;
    transition: all .5s ease-in-out;
    &:hover
    {
        cursor: pointer;
        -webkit-box-shadow: -2px 0px 7px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: -2px 0px 7px 0px rgba(0,0,0,0.5);
        box-shadow: -2px 0px 7px 0px rgba(0,0,0,0.5);
    }
    & img
    {width: 100%;
    max-height: 400px;
    }
    & .sale__price_box
    {
        background: #ba933e;
        position: absolute;
        top: 2rem;
        left: 3.5rem;
        padding: 5px 7px;
        border-radius: 5px;
        & span 
        {
            color: #fff;
            font-weight: 700;
            font-size: $small_text;
        }
    }
    padding: 1rem 1.5rem;
    & p
    {margin-top: 2rem;}
    & .product__card__content
    {padding-bottom: 3.5rem;}
    & .product__card__name
    {
        font-family: RedHatDisplay-medium;
        font-size: $nomal_text;
        font-weight: 900;
        text-align: left;
    }
    & .product__card__price
    {
        font-family: RedHatDisplay-regular;
        opacity: .7;
        font-size: $nomal_text;
        font-weight: normal; 
        color: $color_gray;
        text-align: left;
    }
}
@mixin gird-container($row,$column) {
    .grid-container {
        grid-template-rows:300px 300px 300px 300px ;
        & .item-1
        {
          grid-row: 1 / span $row;
        }
        & .item-3
        {
          grid-row: 2/span $row;
        }
        & .gird__category__item {
          grid-column: 1/ span $column !important;
          & .category__item__boxtext
          {
            padding: 3rem;
          }
          &.d-flex
          {
            flex-direction: row;
          }
          & .col-6
          {
            background-size: cover !important;
           margin: .5rem !important;
          }
        }
      }
}